<div class="row">
<div class="results">
<h3>Add Safe Product</h3>

<div class="tips">
	>>> Choose a product that you have tried and worked well for you.</br>
	>>> If you don't see your product, make a suggestion <%= link_to 'here', new_suggest_path %> or go back to the previous page to add manually.
</div>

<%= form_for @safe_product, url: safe_products_path do |f| %>
<p>
    <div class="the-basics">
    
    <%= f.label :product, "Search a Product:" %><br>
    <%= f.select :product, [], {}, class: "e11" %>
   </div>
  </p>

  <br>
  <br><br><br>
  <p><%= f.submit 'Submit', :class => "submit_btn" %></p>

<% end %>
</div>
</div>