<div class="row">
<h3>Edit Skin Profile</h3>
<%= form_for (@profile) do |f| %>
    <div class="the-basics">
      <%= f.label :age, "Age:" %><br>
      <% if Profile.where(user_id: current_user).pluck(:age).first.present? %>
      <%= f.select :age, [Profile.where(user_id: current_user).pluck(:age).first], {}, class: "profile_age" %>
      <% else %>
      <%= f.select :age, [], {}, class: "profile_age" %>
      <% end %>
    </div>
    <div class="the-basics">
      <%= f.label :skin_type, "Skin Type:" %><br>
      <% if Profile.where(user_id: current_user).pluck(:skin_type).first.present? %>
      <%= f.select :skin_type, [Profile.where(user_id: current_user).pluck(:skin_type).first], {}, class: "profile_skin_type" %>
      <% else %>
      <%= f.select :skin_type, [], {}, class: "profile_skin_type" %>
      <% end %>
    </div>
    <div class="the-basics">
      <%= f.label :ethnicity, "Ethnicity:" %><br>
      <% if Profile.where(user_id: current_user).pluck(:ethnicity).first.present? %>
      <%= f.select :ethnicity, [Profile.where(user_id: current_user).pluck(:ethnicity).first], {}, class: "profile_ethnicity" %>
      <% else %>
      <%= f.select :ethnicity, [], {}, class: "profile_ethnicity" %>
      <% end %>
    </div>
    <div class="the-basics">
      <%= f.label :concerns, "Concerns (will be included in analysis soon):" %><br>
    
      <%= f.label "Acne/Blemish" %>
      <%= f.check_box :concerns, {multiple: true}, "Acne/Blemish", nil %> | 
      <%= f.label "Eczema" %>
      <%= f.check_box :concerns, {multiple: true}, "Eczema", nil %> | 
      <%= f.label "Sun-damaged" %>
      <%= f.check_box :concerns, {multiple: true}, "Sun-damaged", nil %> | 
      <%= f.label "Aging/Wrinkles" %>
      <%= f.check_box :concerns, {multiple: true}, "Aging/Wrinkles", nil %> | 
      <%= f.label "Dryness" %>
      <%= f.check_box :concerns, {multiple: true}, "Dryness", nil %> | 
      <%= f.label "Oiliness" %>
      <%= f.check_box :concerns, {multiple: true}, "Oiliness", nil %> | 
      <%= f.label "Pores" %>
      <%= f.check_box :concerns, {multiple: true}, "Pores", nil %> | 
      <%= f.label "Redness" %>
      <%= f.check_box :concerns, {multiple: true}, "Redness", nil %> |
      <%= f.label "Dark Spots" %>
      <%= f.check_box :concerns, {multiple: true}, "Dark Spots", nil %>
    </div>
  <p>
    <%= f.submit "Save Changes", class: "submit_btn" %>
  </p>
 
<% end %>
 
<%#= link_to 'Back', profiles_path %>

</div>