<div class="row">
  <h3>Create Profile</h3>
    <div class="why_login">
        >>> Why? Creating a profile helps you compare your analyis results with people who have a similar profile as yours!
    </div>
    <%= form_for @profile, url: profiles_path, method: :post do |f| %>
 
      <div class="the-basics">
        <%= f.label :age, "Age:" %><br>
        <%= f.select :age, [], {}, class: "profile_age" %>
      </div>
      <div class="the-basics">
        <%= f.label :skin_type, "Skin Type:" %><br>
        <%= f.select :skin_type, [], {}, class: "profile_skin_type" %>
      </div>
      <div class="the-basics">
        <%= f.label :ethnicity, "Ethnicity:" %><br>
        <%= f.select :ethnicity, [], {}, class: "profile_ethnicity" %>
      </div>
      <div class="the-basics">
        <%= f.label :concerns, "Concerns (will be included in analysis soon):" %><br>
    
      <%= f.label "Acne/Blemish" %>
      <%= f.check_box :concerns, {multiple: true}, "Acne/Blemish", nil %> | 
      <%= f.label "Eczema" %>
      <%= f.check_box :concerns, {multiple: true}, "Eczema", nil %> | 
      <%= f.label "Sun-damaged" %>
      <%= f.check_box :concerns, {multiple: true}, "Sun-damaged", nil %> | 
      <%= f.label "Aging/Wrinkles" %>
      <%= f.check_box :concerns, {multiple: true}, "Aging/Wrinkles", nil %> | 
      <%= f.label "Dryness" %>
      <%= f.check_box :concerns, {multiple: true}, "Dryness", nil %> | 
      <%= f.label "Oiliness" %>
      <%= f.check_box :concerns, {multiple: true}, "Oiliness", nil %> | 
      <%= f.label "Pores" %>
      <%= f.check_box :concerns, {multiple: true}, "Pores", nil %> | 
      <%= f.label "Redness" %>
      <%= f.check_box :concerns, {multiple: true}, "Redness", nil %> |
      <%= f.label "Dark Spots" %>
      <%= f.check_box :concerns, {multiple: true}, "Dark Spots", nil %>
      </div>
    </br>
    <%= f.submit "Create Profile", class: "submit_btn" %>
    <% end %>
</div>

