<div class="row">

<h3>Faves List</h3>
<div class="back_btn"><%= link_to 'Back', recommend_path %></div>
	<div class="faves_content">
		<% unless @favorite_products.empty? %>
			<% @favorite_products.each do |f| %>
			<div class="faves_each">
				<div class="brand"><%= @products.where(id: f.product_id).map(&:brand).first %></div>
				<div class="product"><%= @products.where(id: f.product_id).map(&:product).first %>
				</div>
			    <div class="product_img"><%= image_tag("product_images/#{@products.where(id: f.product_id).map(&:img).first}", alt: "no image available") %>
			    </div></br>
		        <!-- <div class="amazon_buy">Buy Now</div>-->
		   			<%= link_to favorite_product_path(@products.where(id: f.product_id).map(&:id).first), method: :delete do %><div class="remove_faves">&cross;</div><% end %>
			</div>
			<% end %>
		
		<% else %>
		
		<p>Your faves bucket is empty.</p>
		<% end %>
		
	 </div>
</div>