<div class="horizontal_line"></div>
<div class="row">
    <h3>Analyze Product</h3>
    <div class="step123">
        <div class="step123_each">
            <span class="no_line_break">1: Select Product</span> 
        </div>
        <div class="step123_each">
            <span class="no_line_break">
                <span style="color: rgba(1,1,1,0.4)"> > > > 2: Results</span>
            </span>
        </div>
    </div>

    <div id="add" style="display:inline-block">
        <%= link_to recommend_path, class: "next_btn", :disabled => true do %>Select Product To Continue<% end %>
    </div>
    <div id="remove" style="display: none;" class="next_btn">
        Save & Continue
    </div>
    <!-- click #remove and disable button -->
    <div id="wait" style="display: none;">
        <%= link_to recommend_path, class: "next_btn", :disabled => true do %>Please Wait...<% end %>
    </div>

    <div class="tips">
        >>> Select a product in our product database or add a product and its ingredients manually (if not in our database yet):
    </div>
    <div class="tips"> >>> Select only <span style="text-decoration: underline;">ONE</span> of the following: </div>



<!--
    <div class="chart_container">
        <canvas id="barChart" width="400" height="400"></canvas>
    </div>
     <div class="chart_container">
        <p>Overall Hazard</p>
        <canvas id="overall_hazard" width="500" height="500"></canvas>
    </div>
-->
<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<!-- <div id="myModal" class="modal"> -->
  <!-- Modal content -->
  <!-- <div class="modal-content"> -->
   <!-- <span class="close">&times;</span> -->
    <!-- <div class="loader_msg">Analysis in action... Please wait...</div> -->
  <!--   <div class="loader"></div> -->
 <!-- </div>-->


    <div class="results">            
        <%= form_tag(recommend_path, :method => "get", :id => "form") do %>
            <%# params[:list].each do |p| %>
                <%#= hidden_field_tag 'list[]', p %>
            <%# end %>
            <div id="search">
                <div class="bootstrap_tabs">
                   <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#product_dropdown" id="product_select">Search Database</a></li>
                    <li><a data-toggle="tab" href="#manual_dropdown" id="manual_select">Enter Manually</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="product_dropdown" class="tab-pane fade in active">
                        <div class="the-basics">

                        <%= label :product, "Select Product:" %><br>
                        <%= select_tag :product, params[:product], class: "e11", id: "e11" %>
                        </div>       
                    </div>
                    <div id="manual_dropdown" class="tab-pane fade">
                        <div class="tips">
                             Note: For accurate analysis, ingredients must be separated by one comma and one character space ', '. For example: water, glycerin, citric acid, and so on. Or, try copying & pasting the product's ingredients from the brand's website.
                        </div>
                        <div class="the-basics">
                        <%= label :manual_product, "Enter Product:" %><br>
                        <%= text_field_tag :manual_product, params[:manual_product], class: "manual_dropdown", id: "manual_product_dropdown", placeholder: "Click Here" %>
                        </div> 
                        <div class="the-basics">
                        <%= label :manual_ingredients, "Enter Ingredients:" %><br>
                        <%= text_area_tag :manual_ingredients, params[:manual_ingredients], class: "manual_dropdown", id:"manual_ingredients_dropdown", placeholder: "Click Here" %>
                        </div>                         
                    </div>
                  </div>
                </div>
            </div>
            <br style="clear:left;"/><br />

<!--testing purposes 
                ---- b_inci---- </br><br>
                <%#= @b_inci %><br><br>

                ---- s_inci ---- <br><br>
                <%#= @s_inci %><br><br>
                ----- b_inci_no_bracket ----- <br><br>
                <%#= @b_inci_no_bracket %><br><br>

                ----- s_inci_no_bracket --- <br><br>
                <%#= @s_inci_no_bracket %> <br><br>
-->

  <!--<p><%#= submit_tag 'Submit', :class => "btn btn-primary" %></p>-->

        <% end %>  
    </div>
</div>
<script>
$(document).ready(function(){ 
    // grab active tab id for if logic below
    $('.next_btn').on('click', function() {
        // start NProgress bar and loading overlay as soon as button clicked
        // NProgress.start();  
        // modal.style.display = "block"; 

        var activeTab = null;
        $('a[data-toggle=tab]').each(function(){
           if($(this).parent().hasClass('active')){
              activeTab = $(this).attr('id');
           }
        });
        // disable other inactive tabs and submit only active tab content
        if (activeTab == "product_select") {
            document.getElementById('manual_product_dropdown').disabled = true;
            document.getElementById('manual_ingredients_dropdown').disabled = true;
        } else if (activeTab == "manual_select") {
            $('.e11').select2("enable",false);
        };
        // submit form     
        $('#form').submit();

        // Nprogress and overlay re-run since page refreshes after form submit and delays with controller action until redirect to recommend page
        // $('#form').submit(function(){
        //     $(document).on('page:change', function() {  
        //        NProgress.start();
        //        modal.style.display = "block";
        //    });
        // });
    });

    //$(window).bind("pageshow", function() {
    //    $('#form').reset();
    //});
    
    
    // disable submit button if current tab doesn't contain value
    $("#product_select").on('click', function() {
        $('textarea').val('').trigger('change');
        $('input').val('').trigger('change');
        // $('.e11').select2("enable",true);
    });
    $("#manual_select").on('click', function() {
        $('.e11').val('').trigger('change');
    });
            
    // submit either product OR (brand & category) OR manually entered product
  

    // at least one ingredient (checkbox) AND at least one dropdown (Select2) or manually entered textbox must be selected for proceed button to appear
    jQuery('#form').on('change', function () {
        if ((jQuery('.e11').val() != "") || (jQuery('#manual_dropdown').val() != "") || (document.getElementById("manual_product_dropdown").value != "" && document.getElementById("manual_ingredients_dropdown").value != "")) {
            $('#remove').show();
            $('#add').hide();
        } else {
            $('#remove').hide();
            $('#add').show();
        }
        }).trigger('change');

    // switch button upon clicking (both web and mobile)
    $("#remove").on('click', function() {
        $("#wait").css("display", "block");
        $("#remove").css("display", "none");
    });
});

// pressing back button removes #wait loading button
$(window).bind("pageshow", function() {
    $("#wait").css("display", "none");
    $("#add").css("display", "block");
});


// page overlay for next page load

// Get the modal
// var modal = document.getElementById('myModal');

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
//var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
// $('.next_btn').on('click', function() {
 //   modal.style.display = "block";
// });

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//    modal.style.display = "none";
//}

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//    if (event.target == modal) {
//        modal.style.display = "none";
//    }
// }   
</script>
