<div class="row">
    <h3>Sign Up</h3>
    <div class="why_login">
        >>> Why do you need an account? We save all of your past products and analysis results so that you can come back here anytime and analyze another product without having to re-enter them all!
    </div>

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', :object => @user %>
    <p><%= f.text_field :first_name, class: 'form-control', :placeholder => "First Name" %></p>
    <p><%= f.text_field :last_name, class: 'form-control', :placeholder => "Last Name" %></p>
    <p><%= f.email_field :email, class: 'form-control', :placeholder => "Email" %></p>
    <p><%= f.password_field :password, class: 'form-control', :placeholder => "Password" %></p>
    <p><%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "Confirm Password" %></p>
    <%= f.submit "Create Account", class: "submit_btn" %>
    <% end %>
</div>