<div class="row">
	<h3>Basic Profile</h3>
	<div class="profile_content">
		<p>First Name: <%= current_user.first_name %></p>
		<p>Last Name: <%= current_user.last_name %></p>
		<p>Email: <%= current_user.email %></p>
		<%= link_to edit_user_path(current_user) do %><div class="submit_btn">Edit Basic Profile</div><% end %>
	</div>
	</br>
	<h3>Skin Profile</h3>
	<div class="profile_content">
		<% if @profile %>
			<p>Age: <%= @profile.age %></p>
			<p>Skin Type: <%= @profile.skin_type %></p>
			<p>Ethnicity: <%= @profile.ethnicity %></p>
			<p>Concerns: <%= @profile.concerns.join(', ') %></p>
			</br>
			<%= link_to 'Edit Skin Profile', edit_profile_path, :class => "submit_btn" %>
		<% else %>
			<p>Your skin profile is empty. Please add your skin profile to compare with other users!</p>
			</br>
			<%= link_to 'Add Skin Profile', new_profile_path, :class => "submit_btn" %>
		<% end %>
	</div>
</div>
