
<div class="row">
    <div class="step123">
        <div class="step123_each">
            <span class="no_line_break">
                <span style="color: rgba(1,1,1,0.4)">1: Add Products</span>
            </span>
        </div>
        <div class="step123_each">
            <span class="no_line_break">&nbsp;[ 2: Select Ingredients ]&nbsp;</span> 
        </div>
        <div class="step123_each">
            <span class="no_line_break">
                <span style="color: rgba(1,1,1,0.4)">3: Analyze</span>
            </span>
        </div>
        <div class="step123_each">
            <span class="no_line_break">
                <span style="color: rgba(1,1,1,0.4)">&nbsp;4: Results</span>
            </span>
        </div>
    </div>
    <div id="add" style="display:inline-block">
        <%= link_to analyze_path, class: "next_btn", :disabled => true do %>Select Ingredient(s) to Proceed<% end %>
    </div>
    <div id="remove" style="display:none" class="next_btn">
        Click Here to Proceed
    </div>
    
<!--
    <div class="chart_container">
        <canvas id="barChart" width="400" height="400"></canvas>
    </div>
     <div class="chart_container">
        <p>Overall Hazard</p>
        <canvas id="overall_hazard" width="500" height="500"></canvas>
    </div>
-->
<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

</div>
    <div class="results">            
        <%= form_tag(analyze_path, :method => "get", :id => "form") do %>
            <div class="results_options"> >>> The first 10 ingredients from each product are included in analysis. Cosmetic ingredients are listed in order of amounts. The amount of any ingredients beyond the first 10 are minimal.</div></br>
            <div class="results_options"> >>> Based on your products, these are the most likely breakout-causing ingredients:</div>
            <div class="ingredient_count"><span style="color:rgba(255,0,0,1); font-size: 15px;"><%= @potential_list.count %></span> ingredient(s) found:
            </div>
            <div class="legend">
                <span style="background: rgba(255,255,0,1);">&nbsp;&nbsp;&nbsp;</span>:Breakout-causing List | <%= image_tag("canada_flag.png", alt: " [Health Canada] ", size: "19") %>:HC Hotlist | <%= image_tag("eu_flag.png", alt: " [EU] ", size: "19") %>:EU Prohibited List | <%= image_tag("comedogenic_icon.png", alt: " [Comedogenic List] ", size: "19") %>:Comedogenic List | <%= link_to how_it_works_path do %>How It Works&quest;<% end %>
            </div> 
            <div class="result_list">
                <div class="select_all"><%= check_box_tag 'list_all' %> Select/De-select All </div>
                <div class="ingredients_list">
                    <!-- downcase and strip b/c @potential_product is already downcased and stripped -->
                    <% @potential_list.uniq.each_with_index do |inci,index| %>

                        <% unless inci.nil? %>
                        <div class="collapse_view" data-toggle="collapse" data-target="#<%= index %>" aria-expanded="false" aria-controls="collapseExample"><%= check_box_tag "list[]", inci %> <span style="background: rgba(255,255,0,1);"><%= inci %></span> x <%= @potential_list.count(inci) %>

                        <%= image_tag("canada_flag.png", alt: " [Health Canada] ", size: "19") if Healthcanadahotlist.where('ingredient = ? OR ingredient_original = ?', inci, inci).exists? %>
                        <%= image_tag("eu_flag.png", alt: " [EU] ", size: "19") if CosingAnnexIi.where(chemical_name_inn: inci).exists? %>
                        <%= image_tag("comedogenic_icon.png", alt: " [Comedogenic List] ", size: "19") if Comedogeniclist.where(ingredient: inci).exists? %>
                        </div>
                      
                        <div class="collapse" id="<%= index %>">
                          <div class="well">
                            <p>
                            <div class="title">Function:</div>
                            <% if Cosing.where(INCI_name: inci).pluck(:Function).nil? or Cosing.where(INCI_name: inci).pluck(:Function).empty? %>
                                Unknown
                            <% else %>
                                <%= Cosing.where(INCI_name: inci).pluck(:Function).first %>
                            <% end %>
                            </p>
                            <p>
                                <% if Healthcanadahotlist.where('ingredient = ? OR ingredient_original = ?', inci, inci).exists? %>
                                <div class="toggle_HC">[ Health Canada's Hotlists ]</br>
                                    <div class="title">Status (restricted/prohibited):</div> <%= Healthcanadahotlist.where('ingredient = ? OR ingredient_original = ?', inci, inci).pluck(:status).first || "N/A" %>
                                    </br>
                                    <div class="title">Conditions of Use:</div> <%= Healthcanadahotlist.where('ingredient = ? OR ingredient_original = ?', inci, inci).pluck(:conditions_of_use).first || "N/A" %>
                                    </br>
                                    <div class="title">Maximum concentration permitted:</div> <%= Healthcanadahotlist.where('ingredient = ? OR ingredient_original = ?', inci, inci).pluck(:maximum_concentration_permitted).first || "N/A" %>
                                    </br>
                                    <div class="title">Warnings & Cautions:</div> <%= Healthcanadahotlist.where('ingredient = ? OR ingredient_original = ?', inci, inci).pluck(:warnings_and_cautions).first || "N/A" %>
                                    </br>
                                </div>
                            <% end %>
                            </p>
                            <p>
                                <% if CosingAnnexIi.where(chemical_name_inn: inci).exists? %>
                                <div class="toggle_EU">[ European Union's Prohibited List ]</br>
                                    <div class="title">Opinions:</div> <%= CosingAnnexIi.where(chemical_name_inn: inci).pluck(:sccs_opinions).first || "N/A"%>
                                    </br>
                                    <div class="title">Other directives/regulations:</div> <%= CosingAnnexIi.where(chemical_name_inn: inci).pluck(:other_directives_regulations).first || "N/A" %>
                                    </br>
                                </div>
                            <% end %>
                            </p>
                            <p>
                                <% if Comedogeniclist.where(ingredient: inci).exists? %>
                                <div class="toggle_comedogenic">[ Comedogenic Cosmetic List ]</br>
                                    <div class="title">Rating:</div> <%= Comedogeniclist.where(ingredient: inci).pluck(:rating).first || "N/A" %>
                                    </br>
                                    <div class="title">Research Evidence: </div>
                                    <%= "Fulton (1989)" if Comedogeniclist.where(ingredient: inci).pluck(:fulton_1989).first == "TRUE" %>
                                    <%= "Morris Kwan (1983)" if Comedogeniclist.where(ingredient: inci).pluck(:morris_kwan_1983).first == "TRUE" %>
                                    <%= "N/A" if Comedogeniclist.where(ingredient: inci).pluck(:morris_kwan_1983).first == "FALSE" and Comedogeniclist.where(ingredient: inci).pluck(:morris_kwan_1983).first == "FALSE" %>
                                    </br>
                                </div>
                                <% end %>
                            </p>


                          </div>
                        </div>
                        <% end %>
                    
                    <% end %>
                </div>
            </div>   
        </div> 

<!--testing purposes 
                ---- b_inci---- </br><br>
                <%#= @b_inci %><br><br>

                ---- s_inci ---- <br><br>
                <%#= @s_inci %><br><br>
                ----- b_inci_no_bracket ----- <br><br>
                <%#= @b_inci_no_bracket %><br><br>

                ----- s_inci_no_bracket --- <br><br>
                <%#= @s_inci_no_bracket %> <br><br>
-->

  <!--<p><%#= submit_tag 'Submit', :class => "btn btn-primary" %></p>-->

        <% end %>  
    </div>
</div>
<script>
$(document).ready(function(){ 
    // grab active tab id for if logic below
    $('.next_btn').on('click', function() {
        // start NProgress bar and loading overlay as soon as button clicked
        //NProgress.start();  
        //modal.style.display = "block"; 

        // submit form     
        $('#form').submit();

        // Nprogress and overlay re-run since page refreshes after form submit and delays with controller action until redirect to recommend page
        // $('#form').submit(function(){
        //     $(document).on('page:change', function() {  
        //        NProgress.start();
        //        modal.style.display = "block";
        //    });
        // });
    });

    //$(window).bind("pageshow", function() {
    //    $('#form').reset();
    //});

            
    // submit either product OR (brand & category) OR manually entered product
  

    // at least one ingredient (checkbox) AND at least one dropdown (Select2) or manually entered textbox must be selected for proceed button to appear
    jQuery('#form').on('change', function () {
        if (jQuery('input[type=checkbox]:checked').length > 0) {
            $('#remove').show();
            $('#add').hide();
        } else {
            $('#remove').hide();
            $('#add').show();
        }
        }).trigger('change');
    });




// page overlay for next page load

// Get the modal
// var modal = document.getElementById('myModal');

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
//var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
// $('.next_btn').on('click', function() {
 //   modal.style.display = "block";
// });

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//    modal.style.display = "none";
//}

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//    if (event.target == modal) {
//        modal.style.display = "none";
//    }
// }   
</script>
