<div class="row">

<%= tabs %>
  
<h3>Product Information</h3>
   <p>

    <div class="product_img"><%= image_tag("product_images/#{@product.img}", alt: "no image available") %>
    </div>
   </p>
   	<div id="brand">
   Brand: <%= @product.brand %>
	</div>
  </p>
  <p>
  	<div id="product">
    Product: <%= @product.product %>
	</div>
	</p>
  <p>
    <div id="product_type">
    Category: 
    <%= @product.product_type.gsub(";", " | ") %>

  </div>
  </p>
  <p>
  	<div id="ingredient">
  	Ingredients: 
    <% if @product.ingredients %>
    <%= @product.ingredients.gsub(";",",") %>
    <% else %>
    No ingredient list found.
    <% end %> 
  </div>
  </p>
 

<%= link_to 'Back', myproducts_path %>

</div>