<div class="row">
  <div id="brand">
    <h3><%= @product.brand %></h3>
  </div>
  <div id="product">
    <h4><%= @product.product %></h4>
  </div>
  <p>
    <div class="product_img"><%= image_tag("product_images/#{@product.img}", alt: "no image available") %>
    </div>
  </p>
  <p>
  <div id="product_type">
    Category: 
    <%= @product.product_type.gsub(";", " | ") %>
  </div>
  </p>
  <p>
  	<div id="ingredient">
  	Ingredients: 
    <% if @product.ingredients %>
    <%= @product.ingredients.gsub(";",",") %>
    <% else %>
    No ingredient list found.
    <% end %> 
  </div>
  </p>
</div>